@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

h1, h2, h3 {
    font-family: "Montserrat", sans-serif;
}

header {
    padding: 16px 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    
    position: fixed;
    z-index: 1000;
    width: 100%;
    background: #FFFFFF;
}

.container-header {
    max-width: 1400px;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-header h1 a {
    color: #E53E3E;
    font-size: 24px;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
    display: flex;
    align-items: center;
    margin-left: 0;
}

.container-header ul {
    list-style: none;
    display: flex;
}

.container-header a {
    text-decoration: none;
    color: #374151;
    font-size: 16px;
    font-weight: 500;
    margin-left: 32px;
}

.container-header a:hover {
    color: #E53E3E;
}

.botoes1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.carrinho img {
    width: 24px;
    height: 24px;
}

.carrinho {
    width: 114px;
    height: 40px;
    font-size: 14px;
    font-weight: 500;
    color: #020817;
    gap: 5px;
    display: flex;
    justify-content: center;
    align-items: center;

    border: none;
    background: none;
    cursor: pointer;
}

.carrinho:hover {
    background: #f1f5f9;
    border-radius: 5px;
}

.online {
    width: 114px;
    height: 40px;
    color: #FFFFFF;
    background-color: #E53E3E;
    padding: 8px 16px;
    font-size: 14px;
    font-weight: 500;
    margin-left: 16px;
    border-radius: 5px;

    border: none;
    cursor: pointer;
}

.online:hover {
    background: #C53030;
}

main {
    padding-top: 55px;
}

.container1 {
    background: #121928;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;

    position: relative;
    z-index: 1;
}

.container1 .conteudo {
    padding-bottom: 30px;
}

.conteudo {
    max-width: 1400px;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    
}

.texto-cont1 h1 {
    color: #FFFFFF;
    font-size: 60px;
    font-weight: 700;
}

.texto-cont1 span {
    color: #E53E3E;
    font-size: 60px;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
}

.texto-cont1 p {
    color: #D1D5DB;
    font-size: 20px;
    font-weight: 500;
    margin-top: 24px;
}

.imagem-cont1 {
    position: relative;
    display: inline-block;
}

.imagem-cont1 img {
    width: 684px;
    border-radius: 10px;
    display: block;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }  

.desconto {
    position: absolute;
    bottom: 15px;
    right: 15px;
    background: #F6E05E;
    color: #1A202C;
    border-radius: 50px;
    padding: 24px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.desconto h2 {
  margin: 0;
  font-size: 30px;
  font-weight: 700;
}

.desconto p {
  margin: 0;
  font-size: 14;
}

.botoes2 {
    margin-top: 40px;

    display: flex;
    align-items: center;
}

.botoes2 button {
    cursor: pointer;    
    color: #FFFFFF;
    padding: 12px 32px;
    font-size: 14px;
    font-weight: 500;
    border-radius: 50px;
}

.cardapio {
    background: #E53E3E;
    border: 0;
}

.cardapio:hover {
    background: #C53030;
}

.pedido {
    margin-left: 16px;
    background: none;
    border: 1px solid #FFFFFF;

    display: flex;
    align-items: center;
    gap: 10px;
}

.pedido:hover {
    background: #FFFFFF;
    color: #121928;
    transition: 0.5s;
}

.wave-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.wave-bottom svg {
  display: block;
  width: 100%;
  height: auto;
}

.container2 {
    background: #FFFAF0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nossoCardapio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 32px;
}

.nossoCardapio h2 {
    color: #121928;
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 8px;
}

hr {
    width: 80px;
    height: 4px;
    margin-bottom: 16px;
    background: #E53E3E;
    border: 0;
}

.nossoCardapio p {
    color: #4B5563;
    font-size: 16px;
    font-weight: 400;
}

.secao-itens {
    margin-block: 24px;
}

.secao-itens h2 {
    color: #121928;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 8px;
}

.itens-cardapio {
    width: 1400px;
    display: flex;
    justify-content: space-between;
    margin-block: 32px;
}

.item1, .item2, .item3, .item4 {
    width: 324px;
    background-color: #FFFFFF;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.item1:hover, .item2:hover, .item3:hover, .item4:hover {
    transform: scale(1.05);
}

.secao-itens img {
    width: 100%;
    height: 192px;
    object-fit: cover;
    object-position: center;
    display: block;
    border-radius: 8px 8px 0 0;
}

.itens-conteudo {
    padding: 16px;
}

.titulo-itens {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 6px;
}

.titulo-itens h2 {
    columns: #121928;
    font-size: 18px;
    font-weight: 700;
}

.titulo-itens span {
    color: #E53E3E;
    font-size: 16px;
    font-weight: 600;
}

.itens-conteudo p {
    margin-block: 16px;
    color: #4B5563;
    font-size: 14px;
    font-weight: 400;
}

.mais_pedido {
    background: #E53E3E;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: 600;
    padding: 2px 10px;
    border-radius: 99px;
}

.vegetariano {
    color: #19A34A;
    border: 1px solid #19A34A;
    font-size: 12px;
    font-weight: 600;
    padding: 2px 10px;
    border-radius: 99px;
}

.picante {
    color: #DC2626;
    border: 1px solid #DC2626;
    font-size: 12px;
    font-weight: 600;
    padding: 2px 10px;
    border-radius: 99px;
}

.itens-conteudo button {
    background: #ED8936;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 500;
    padding: 8px 16px;
    width: 100%;
    height: 40px;
    border: 0;
    border-radius: 8px;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.itens-conteudo button:hover {
    background: #fa7336;
    transition: 0.5s;
}

.hidden {
    width: 324px;
}

.container3 {
    background: #FFFAF0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 64px;
}

.container3 img {
    width: 684px;
    height: 855px;
    border-radius: 8px;
}

.historia {
    margin-left: 40px;
}

.historia h2 {
    color: #121928;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 24px;
}

.historia p {
    color: #374151;
    font-size: 16px;
    font-weight: 400;
    margin-top: 24px;
}

.conquistas {
    display: flex;
    justify-content: space-between;
    margin-top: 48px;
}

.conquistas h3 {
    color: #E53E3E;
    font-size: 36px;
    font-weight: 700;
    display: flex;
    justify-content: center;
}

.conquistas p {
    color: #374151;
    font-size: 14px;
    font-weight: 400;
    margin-top: 0;
}